<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/main.css" th:href="@{css/main.css}" />
        <title>Kysymykset </title>
</head>
<body>
<h1>Kysely: "Mielestäni parasta on: "</h1>
<h2>Tällä kyselyllä selvitetään henkilöiden suosimia asioita eri aiheista. Kysely on nimetön.</h2>
<div>
    <table class="table table-striped">
        <tr th:each = "question : ${questions}">
            <td th:text="${question.title}"></td>
            <td>
                <form th:object="${answer}" th:action="@{save}" action="#" method="post">
                    <label for="id"></label>
                    <input type="hidden" id="id" th:field="*{answerid}" readonly="readonly" />
                    <label for="input">Vastaus:</label>
                    <input type="text" name="input" id="input" th:value="${answer.input}"/>

                </form>
            </td>
        </tr>
    </table>
</div>


</body>
</html>