<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/templates/main.css}" rel="stylesheet" / >
        <title>Kysymykset </title>
</head>
<body>
<h1>Kysely: "Mielestäni parasta on: "</h1>
<h2>Tällä kyselyllä selvitetään henkilöiden suosimia asioita eri aiheista. Kysely on nimetön.</h2>
    <div>
        <table class="table table-striped">
            <tr th:each = "question : ${questions}">
                <td th:text="${question.title}"></td>
                <td>
                    <label for="qAnswer">:</label>
                    <input type="text" id="qAnswer" th:field="*{answer}">
                </td>
            </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Save">
    </div>


</body>
</html>